<div id="container">
<div *ngIf="currentPart === Part.Explanation" class="center-content">
  <h1>נקודת מפגש של 2 פונקציות</h1>
  <p>בסירטון נלמד איך למצוא נקודת מפגש של 2 פונקציות </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Nct6yQUSdvw?list=UUFwRoIbk7gng6WXyytDsd-Q&index=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>

<div *ngIf="currentPart === Part.Quiz" class="center-content">
  <div *ngIf="!showSummary">
    <h1>שאלה {{ attempts + 1 }}: מצא את נקודת המפגש</h1>
    <p>{{ line1_equation }}</p>
    <p>{{ line2_equation }}</p>
    <label for="userIntersectionPoint">הכנס את נקודת המפגש בצורה הבאה: (x, y):</label>
    <input class="input-ltr" type="text" id="userIntersectionPoint" [(ngModel)]="userIntersectionPoint" />
    <div *ngIf="isAnswerChecked">
      <p *ngIf="isAnswerCorrect">כל הכבוד! ענית נכון</p>
      <p *ngIf="!isAnswerCorrect">אופס..ענית לא נכון התשובה הנכונה היא: </p>
      <p class="equation">{{ intersection_point }}</p>
    </div>

  </div>
  <div *ngIf="showSummary">
    <h1>Quiz Summary</h1>
    <p>You answered {{ correctAnswers }} out of {{ maxAttempts }} questions correctly!</p>
    <button (click)="changePart(Part.Test)">Start Test</button>
  </div>
</div>

<div *ngIf="currentPart === Part.QuizCompleted" class="center-content">
  <h1>גמרנו עם התרגול</h1>
  <p>ענית  {{ correctAnswers }} מתוך 6 שאלות נכון!</p>

</div>

<div *ngIf="currentPart === Part.Test" class="center-content">
  <h1>מבחן</h1>
  <div *ngFor="let question of testQuestions; let i = index">
    <p>שאלה {{ i + 1 }}</p>
    <p>{{ question.line1_equation }}</p>
    <p>{{ question.line2_equation }}</p>
    <label for="userTestAnswer{{ i }}">הכנס את נקודת המפגש בצורה הבאה: (x, y):</label>
    <input   type="text" id="userTestAnswer{{ i }}" [(ngModel)]="userTestAnswers[i]" />
  </div>

  <div *ngIf="showTestSummary">
    <h1>גמרנו את המבחן</h1>
    <p>ענית {{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות נכון!</p>

  </div>
</div>
<div class="menu-container">
  <button (click)="changePart(Part.Quiz)">להתחיל בתרגול</button>
  <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק תשובה</button>
  <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
  <button (click)="changePart(Part.Explanation)">חזור להסבר</button>
  <button (click)="changePart(Part.Quiz)">לעשות שוב את התרגול</button>
  <button (click)="startTest()">להתחיל את המבחן</button>
  <button (click)="checkTestAnswers()">בדוק מבחן</button>
  <button (click)="fetchUserExercises()">התרגילים שלי</button>
  <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
  <!-- You can add other buttons here as needed -->
</div>

<div id="my-exercises-section">
  <div *ngIf="showExercises">
    <h2>התרגילים שלי</h2>
    <ul *ngIf="savedQuestions.length > 0" class="exercises-container">
      <ng-container *ngFor="let question of savedQuestions">
        <li *ngIf="question.line1_equation && question.line1_equation.trim() !== '' && question.line2_equation && question.line2_equation.trim() !== ''" class="exercise-item">
          <p>פונקציה 1: {{ question.line1_equation }}</p>
          <p>פונקציה 2: {{ question.line2_equation }}</p>
        </li>
      </ng-container>
    </ul>
    <div *ngIf="savedQuestions.length === 0">
      <h2>כנרהא עדיין לא פתרת תרגילים</h2>
    </div>
  </div>
</div>
</div>
