// Global styles
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  direction: rtl; // מעבר לכתוב מימין לשמאל
}

// Enclosing container
.reset-container {
  margin-top: 270px;  // Shifts everything down by 50 pixels
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Form styles
.reset-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Input field
input[type="password"] {
  width: 100%; // Full width
  padding: 5px 0; // Minimal padding top/bottom
  margin-bottom: 20px; // Space between the input and button
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent; // No background
  font-size: 20px; // Adjust as needed
  text-align: center; // Center the placeholder and input text
  placeholder: {
    color: #888; // Lighter color for placeholder
  }
}

// Button
button[type="submit"] {
  // Style from .custom-btn
  width: 200px;
  height: 50px;
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;

  &:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

// Success and error messages
.success-message, .error-message {
  margin-top: 20px; // Space between the form and the message
  padding: 10px;
  width: 80%; // Adjust as needed
  text-align: center;
  border-radius: 5px;
}

.success-message {
  background-color: #d4edda; // Light green background
  color: #155724; // Green text
}

.error-message {
  background-color: #f8d7da; // Light red background
  color: #721c24; // Red text
}
h2 {
  text-align: center;
  color: blue;
  font-size: 50px;
  font-family: courier;
}
