<div class="container">
  <h2>שיחזור סיסמה </h2>
  <form (submit)="onSubmit()">
    <input type="text" [(ngModel)]="username" name="username" placeholder="שם משתמש " required>
    <input type="email" [(ngModel)]="email" name="email" placeholder="הכנס את המייל שאיתו נרשמת " required>
    <button type="submit">שלח למייל שלי קישור לאפס סיסמה</button>
  </form>
  <div *ngIf="resetLinkSent" class="success-message">קישור לאיפוס סיסמה נשלח למייל שלך </div>
  <div *ngIf="resetLinkError" class="error-message">אתה מנסה להיכנס עם מייל שלא שלך ,הכנס את המייל שאיתו נרשמת.</div>
</div>
