<div id="container">
  <div *ngIf="currentPart === Part.Explanation" class="center-content">
    <h1>פיתגורס רמה קשה</h1>
    <p>בסירטון נלמד איך למצוא לפי משפט פיתגורס את הצלע החסרה במשולש ישר זווית</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/PtrSmZzpELk?list=UUFwRoIbk7gng6WXyytDsd-Q&index=10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </div>

  <div *ngIf="currentPart === Part.Quiz" class="center-content">
    <div *ngIf="!showSummary">
    <h1>שאלה {{ attempts + 1 }}:מצא את הצלע החסרה</h1>
    <div><i> c² = a² + b² הנוסחה למציאת  הצלע החסרה </i></div>
    <p>נתון: a = {{sideA || '?'}}, b = {{sideB || '?'}}, c = {{sideC || '?'}} </p>
    <svg width="200" height="200">
      <polygon points="50,50 50,130 130,50" style="fill:lightgrey;stroke:black;stroke-width:2" />
      <line x1="50" y1="50" x2="50" y2="60" style="stroke:black;stroke-width:2" />
      <line x1="50" y1="50" x2="60" y2="50" style="stroke:black;stroke-width:2" />
      <text x="30" y="100" text-anchor="end" font-family="Arial" font-size="14" fill="black">{{ missingSide === 'a' ? '?' : sideA }}</text>
      <text x="90" y="40" text-anchor="middle" font-family="Arial" font-size="14" fill="black">{{ missingSide === 'b' ? '?' : sideB }}</text>
      <text x="105" y="95" font-family="Arial" font-size="14" fill="black">{{ missingSide === 'c' ? '?' : sideC }}</text>
    </svg>

    <label for="userSolution">אורך הצלע {{ missingSide }}:</label>
    <input type="number" id="userSolution" [(ngModel)]="userSolution" />
    <div *ngIf="isAnswerChecked">
      <p *ngIf="isAnswerCorrect">כל הכבוד ענית נכון</p>
      <p *ngIf="!isAnswerCorrect">אופס... טעית התשובה הנכונה היא:{{ correctSolution }}.</p>
    </div>
  </div>
  <div *ngIf="showSummary">
    <h1>Quiz Summary</h1>
    <p>You answered {{ correctAnswers }} out of {{ maxAttempts }} questions correctly!</p>
    <button (click)="resetQuiz()">Try Again</button>
  </div>
</div>

<div *ngIf="currentPart === Part.QuizCompleted" class="center-content">
  <h1>גמרנו עם התרגול</h1>
  <p>ענית{{ correctAnswers }} מתוך 6 שאלות נכון!</p>
</div>

<div *ngIf="currentPart === Part.Test" class="center-content">
  <h1>מבחן</h1>
  <div><i> c² = a² + b² הנוסחה למציאת  הצלע החסרה </i></div>
  <div *ngFor="let question of testQuestions; let i = index">
    <p>שאלה {{ i + 1 }}</p>
    <p>נתונה הצלע: a = {{question.option === 'a' ? '?' : question.a_fl}}, b = {{question.option === 'b' ? '?' : question.b_fl}}, c = {{question.option === 'c' ? '?' : question.c_fl}}</p>
    <svg width="200" height="200">
      <polygon points="50,50 50,130 130,50" style="fill:lightgrey;stroke:black;stroke-width:2" />
      <line x1="50" y1="50" x2="50" y2="60" style="stroke:black;stroke-width:2" />
      <line x1="50" y1="50" x2="60" y2="50" style="stroke:black;stroke-width:2" />
      <text x="30" y="100" text-anchor="end" font-family="Arial" font-size="14" fill="black">{{ question.option === 'a' ? '?' : question.a_fl }}</text>
      <text x="90" y="40" text-anchor="middle" font-family="Arial" font-size="14" fill="black">{{ question.option === 'b' ? '?' : question.b_fl }}</text>
      <text x="105" y="95" font-family="Arial" font-size="14" fill="black">{{ question.option === 'c' ? '?' : question.c_fl }}</text>
    </svg>
    <label for="userTestAnswer{{ i }}">הכנס את הערך של הצלע החסרה {{ missingSide }}:</label>
    <input type="number" id="userTestAnswer{{ i }}" [(ngModel)]="userTestAnswers[i]" />
  </div>

  <div *ngIf="showTestSummary">
    <h1>גמרנו עם המבחן</h1>
    <p>ענית {{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות נכון!</p>

  </div>
</div>
<div class="menu-container">

  <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
  <button (click)="fetchUserExercises()">התרגילים שלי</button>
  <button (click)="changePart(Part.Quiz)">נתחיל בתרגול</button>
  <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק תשובה</button>
  <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
  <button (click)="changePart(Part.Quiz)">להתחיל את התרגול שוב</button>
  <button (click)="startTest()">להתחיל את המבחן</button>
  <button (click)="checkTestAnswers()">לבדוק את המבחן</button>
  <button (click)="changePart(Part.Explanation)">לחזור להסבר</button>
</div>



<div id="my-exercises-section">
  <div *ngIf="showExercises">
    <h2>התרגילים שלי</h2>
    <ul *ngIf="savedExercises.length > 0" class="exercises-container">
    <ng-container    class="exercise-item" *ngFor="let exercise of savedExercises">
      <li   class="exercise-item"  *ngIf="isValidExercise(exercise)">
        <p>Side A: {{ exercise.a_fl }}</p>
        <p>Side B: {{ exercise.b_fl }}</p>
        <p>Side C: {{ exercise.c_fl }}</p>
        <p>Missing Side: {{ exercise.option }}</p>
      </li>
    </ng-container>
  </ul>



  <div *ngIf="savedExercises.length === 0">
    <h2>לא נמצאו תרגילים</h2>
  </div>
</div>
</div>
