<div id="container">
  <div *ngIf="currentPart === Part.Explanation" class="center-content">
    <h1>משואה בנעלם אחד</h1>
    <h1>בסירטון נלמד איך לפתור משוואה עם נעלם אחד ברמה קלה</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OASR7uiT1zE?list=UUFwRoIbk7gng6WXyytDsd-Q&index=4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>





  </div>

  <!-- Quiz Section -->
  <div *ngIf="currentPart === Part.Quiz"class="center-content">
    <div *ngIf="!showSummary">
      <h2>שאלה {{ attempts + 1 }}: פתור את המשוואה</h2>
      <div>{{ equation }}</div>
      <label for="userSolution">הזן את הפתרון שלך:</label>
      <input type="number" id="userSolution" [(ngModel)]="userSolution" />
      <div *ngIf="isAnswerChecked">
        <p *ngIf="isAnswerCorrect">מצוין! ענית נכון</p>
        <p *ngIf="!isAnswerCorrect">אופס..ענית לא נכון התשובה הנכונה היא:{{ correctSolution }}.</p>
      </div>
    </div>
    <div *ngIf="showSummary">
      <h1>סיכום המבחן</h1>
      <p>ענית נכון על {{ correctAnswers }} מתוך 6 שאלות!</p>
      <button (click)="resetQuiz()">נסה שוב</button>
    </div>
  </div>

  <!-- Quiz Completed Section -->
  <div class="center-content" *ngIf="currentPart === Part.QuizCompleted">
    <h1>גמרנו את התרגול</h1>
    <p>ענית נכון על {{ correctAnswers }} מתוך 6 שאלות!</p>
  </div>

  <!-- Test Section -->
  <div class="test-section" *ngIf="currentPart === Part.Test">
    <h1>מבחן</h1>
    <div *ngFor="let question of testQuestions; let i = index">
      <p>שאלה {{ i + 1 }}</p>
      <div>{{ question.equation }}</div>
      <label for="userTestAnswer{{ i }}">הזן את הפתרון שלך:</label>
      <input type="number" id="userTestAnswer{{ i }}" [(ngModel)]="userTestAnswers[i]" />
    </div>
    <div *ngIf="showTestSummary">
      <h1>גמרנו עם המבחן</h1>
      <p>ענית נכון על {{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות!</p>

    </div>
  </div>

  <!-- Buttons Section -->
  <div class="menu-container">
    <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
    <button (click)="fetchUserExercises()">התרגילים שלי</button>
    <button (click)="changePart(Part.Quiz)">להתחיל עם התרגול</button>
    <button (click)="changePart(Part.Test)">להתחיל עם המבחן</button>
    <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק את התשובה</button>
    <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
    <button (click)="checkTestAnswers()">בדוק את המבחן</button>
    <button (click)="changePart(Part.Quiz)">לעשות שוב תרגול</button>
    <!-- ... any other buttons you might have ... -->
</div>

<div id="my-exercises-section" *ngIf="showExercises">
  <p>
  </p>
        <h2>השאלות שפתרתי עד עכשיו</h2>
        <div class="exercises-container" *ngIf="savedQuestions.length > 0">
      <li class="exercise-item"  *ngFor="let question of savedQuestions">
        <p>משוואה: {{ question.equation }}</p>
      </li>

    <div *ngIf="savedQuestions.length === 0">
      <h2>לא נמצאו תרגילים שנשמרו</h2>
    </div>
  </div>
</div>
