<div id="container">
  <div *ngIf="currentPart === Part.Explanation" class="center-content">
      <h1>מערכת משוואות ברמה קשה</h1>
      <p>בסירטון נקבל הסבר איך לפתור מערכת משוואות ברמה קשה</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OnEo_enqz_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="menu-container">
      </div>
  </div>


  <div *ngIf="currentPart === Part.Quiz" class="center-content">
      <div *ngIf="!showSummary">
          <h1>שאלה  {{ attempts + 1 }}:פתור את מערכת המשוואות הבאה </h1>

          <!-- Display fractions for the first equation -->
          <div>
              <span *ngFor="let fraction of equation1Fractions; let last = last">
                  <span *ngIf="fraction.denominator">
                      <span class="fraction">
                          <span class="numerator">{{ fraction.numerator }}</span>
                          <span class="denominator">{{ fraction.denominator }}</span>
                      </span>
                  </span>
                  <span *ngIf="!fraction.denominator">{{ fraction.numerator }}</span>
                  <span *ngIf="!last">&nbsp;</span>
              </span>
          </div>

          <!-- Display fractions for the second equation -->
          <div>
              <span *ngFor="let fraction of equation2Fractions; let last = last">
                  <span *ngIf="fraction.denominator">
                      <span class="fraction">
                          <span class="numerator">{{ fraction.numerator }}</span>
                          <span class="denominator">{{ fraction.denominator }}</span>
                      </span>
                  </span>
                  <span *ngIf="!fraction.denominator">{{ fraction.numerator }}</span>
                  <span *ngIf="!last">&nbsp;</span>
              </span>
          </div>

          <label for="solutionX">הכנס את הערך של x:</label>
          <input type="number" id="solutionX" [(ngModel)]="userSolutionX" />
          <label for="solutionY">הכנס את הערך של  y:</label>
          <input type="number" id="solutionY" [(ngModel)]="userSolutionY" />
          <div class="menu-container">

          </div>

          <div *ngIf="isAnswerChecked">
              <p *ngIf="isAnswerCorrect">כל הכבוד! ענית נכון</p>
              <p *ngIf="!isAnswerCorrect && correctSolutionX !== null && correctSolutionY !== null">
                  אופס.. ענית לא נכון התשובה הנכונה היא: x={{ correctSolutionX }}, y={{ correctSolutionY }}.
              </p>
          </div>

          <div *ngIf="showSummary">
              <h1>גמרנו עם התרגול</h1>
              <p>ענית  {{ correctAnswers }} מתוך 6 שאלות נכון!</p>

          </div>
      </div>
  </div>

  <div *ngIf="currentPart === Part.QuizCompleted" class="center-content">
      <h1>Quiz Summary</h1>
      <p>You answered {{ correctAnswers }} out of 6 questions correctly!</p>
      <div class="menu-container">
      </div>
  </div>

  <div *ngIf="currentPart === Part.Test" class="center-content test-section">
      <h1>מבחן</h1>
      <div *ngFor="let question of testQuestions; let i = index">
          <p>שאלה {{ i + 1 }}</p>

          <!-- Display fractions for the first equation in the test -->
          <div>
              <span *ngFor="let fraction of question.equation1Fractions; let last = last">
                  <span *ngIf="fraction.denominator">
                      <span class="fraction">
                          <span class="numerator">{{ fraction.numerator }}</span>
                          <span class="denominator">{{ fraction.denominator }}</span>
                      </span>
                  </span>
                  <span *ngIf="!fraction.denominator">{{ fraction.numerator }}</span>
                  <span *ngIf="!last">&nbsp;</span>
              </span>
          </div>

          <!-- Display fractions for the second equation in the test -->
          <div>
              <span *ngFor="let fraction of question.equation2Fractions; let last = last">
                  <span *ngIf="fraction.denominator">
                      <span class="fraction">
                          <span class="numerator">{{ fraction.numerator }}</span>
                          <span class="denominator">{{ fraction.denominator }}</span>
                      </span>
                  </span>
                  <span *ngIf="!fraction.denominator">{{ fraction.numerator }}</span>
                  <span *ngIf="!last">&nbsp;</span>
              </span>
          </div>

          <label for="solutionX{{ i }}">הכנס את הערך של x:</label>
          <input type="number" id="solutionX{{ i }}" [(ngModel)]="userTestAnswers[i].x" />
          <label for="solutionY{{ i }}">הכנס את הערך של Y:</label>
          <input type="number" id="solutionY{{ i }}" [(ngModel)]="userTestAnswers[i].y" />
      </div>


      <div *ngIf="showTestSummary">
          <h1>גמרנו עם המבחן </h1>
          <p>ענית {{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות נכון!</p>

      </div>
  </div>

  <div class="menu-container">
    <button (click)="changePart(Part.Quiz)">להתחיל בתרגול</button>
    <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק תשובה</button>
    <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
    <button (click)="changePart(Part.Explanation)">חזור להסבר</button>
    <button (click)="changePart(Part.Quiz)">לעשות שוב את התרגול</button>
    <button (click)="startTest()">להתחיל את המבחן</button>
    <button (click)="checkTestAnswers()">בדוק מבחן</button>
    <button (click)="fetchUserExercises()">התרגילים שלי</button>
    <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
  </div>

  <div *ngIf="showExercises" id="my-exercises-section" class="center-content">
      <h2>התרגילים שלי</h2>
      <ul *ngIf="savedQuestions.length > 0">
          <ng-container  class="exercise-item"   *ngFor="let equation of savedQuestions">
              <!-- Check if equation.equation1 is not empty and display it in a list item -->
              <li *ngIf="equation.equation1 && equation.equation1.trim() !== ''">משוואה 1: {{ equation.equation1 }}</li>
              <!-- Check if equation.equation2 is not empty and display it in a list item -->
              <li *ngIf="equation.equation2 && equation.equation2.trim() !== ''">משוואה 2: {{ equation.equation2 }}<P>*****</P></li>
          </ng-container>
      </ul>

      <div *ngIf="savedQuestions.length === 0">
          <h2>כנרהא עדיין לא פתרת תרגילים</h2>
      </div>
  </div>
</div>
