/* Use CSS Variables for consistency and maintainability */
:root {
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --hover-scale: 1.05;
}

#container {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
  padding: 30px 0;
  overflow-y: auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
  justify-content: center;
}

button {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
  transform: scale(var(--hover-scale));
}

button:active {
  transform: scale(0.95);
}

.test-section {
  padding-top: 80px;
}

.exercises-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exercise-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
}

#my-exercises-section {
  max-height: 400px;
  overflow-y: auto;
  width: 90%;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

button.special-button {
  background-color: white;
  color: black;
  width: auto;
  height: auto;
  font-size: 14px;
  box-shadow: none;
  margin: 0 5px;
}

button.special-button:hover {
  background-color: #f0f0f0;
  transform: none;
}

button.special-button:active {
  transform: none;
}

.special-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.equation {
  text-align: center;
  direction: ltr;
}

.answer-input {
  direction: rtl;
}

.label-rtl {
  direction: rtl;
  display: inline-block;
}

.input-ltr {
  direction: ltr;
}
