<div id="container">

  <div *ngIf="currentPart === Part.Explanation" class="center-content">
      <h1>חוק הפילוג המורחב רמה קלה</h1>
      <p>בסרטון נלמד איך לפתור תרגילים שבהם יש חוק הפילוג המורחב ברמה קלה</p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/-FFJkeQGyV4?list=UUFwRoIbk7gng6WXyytDsd-Q&index=6" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </div>

  <div *ngIf="currentPart === Part.Quiz" class="center-content">
    <div *ngIf="!showSummary">
      <h1>שאלה  {{ attempts + 1 }}: פתור את התרגיל</h1>
      <div>{{ equation }}</div>
      <label for="userSolution">הכנס את התשובה:</label>
      <input type="text" id="userSolution" [(ngModel)]="userSolution" />
      <div class="special-buttons-container">
      <button class="special-button" (click)="addTerm('x^2')">x²</button>
      <button class="special-button" (click)="addTerm('x')">x</button>
      <button class="special-button" (click)="addTerm('^')">^</button>
      <button class="special-button" (click)="addTerm('+')">+</button>
      <button class="special-button" (click)="addTerm('-')">-</button>
      <button class="special-button" (click)="addTerm('*')">*</button>
      <button class="special-button" (click)="addTerm('/')">/</button>
      <button class="special-button" (click)="addTerm('(')">(</button>
      <button class="special-button" (click)="addTerm(')')">)</button>
      <button class="special-button" (click)="addTerm(' ')" style="width: 50px;">רווח</button>
      <button class="special-button" (click)="clearTerm()">למחוק הכל</button>
    </div>
      <div *ngIf="isAnswerChecked">
        <p *ngIf="isAnswerCorrect">כל הכבוד! ענית נכון</p>
        <p *ngIf="!isAnswerCorrect">אופס..ענית לא נכון התשובה הנכונה היא: {{ correctSolution }}.</p>
      </div>
      <div *ngIf="showSummary">
        <h1>Quiz Summary</h1>
        <p>You answered {{ correctAnswers }} out of {{ maxAttempts }} questions correctly!</p>
        <button (click)="resetQuiz()">Try Again</button>
      </div>
    </div>
  </div>

  <div *ngIf="currentPart === Part.QuizCompleted" class="center-content">
    <h1>נגמר התרגול</h1>
    <p>ענית {{ correctAnswers }} מתוך 6 שאלות נכון!</p>

  </div>

  <div *ngIf="currentPart === Part.Test" class="center-content">
    <h1>מבחן</h1>
    <div *ngFor="let question of testQuestions; let i = index">
      <p>שאלה {{ i + 1 }}</p>
      <div>
        {{ question.problem_str }}
      </div>
      <label for="userTestAnswer{{ i }}">הכנס את התשובה שלך:</label>
      <div class="special-buttons-container">
      <button class="special-button" (click)="addTerm('x^2')">x²</button>
      <button class="special-button" (click)="addTerm('x')">x</button>
      <button class="special-button" (click)="addTerm('^')">^</button>
      <button class="special-button" (click)="addTerm('+')">+</button>
      <button class="special-button" (click)="addTerm('-')">-</button>
      <button class="special-button" (click)="addTerm('*')">*</button>
      <button class="special-button" (click)="addTerm('/')">/</button>
      <button class="special-button" (click)="addTerm('(')">(</button>
      <button class="special-button" (click)="addTerm(')')">)</button>
      <button class="special-button" (click)="addTerm(' ')" style="width: 50px;">רווח</button>
      <button class="special-button" (click)="clearTerm()">למחוק הכל</button>
    </div>
    </div>

      <div *ngIf="!showSummary">

    </div>
    <div *ngIf="showSummary">

      <h1>המבחן נגמר</h1>
      <p>ענית {{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות נכון!</p>

    </div>
  </div>
  <div class="menu-container">

    <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
    <button (click)="fetchUserExercises()">התרגילים שלי</button>
    <button (click)="changePart(Part.Quiz)">נתחיל בתרגול</button>
    <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק תשובה</button>
    <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
    <button (click)="changePart(Part.Quiz)">להתחיל את התרגול שוב</button>
    <button (click)="startTest()">להתחיל את המבחן</button>
    <button (click)="checkTestAnswers()">לבדוק את המבחן</button>
    <button (click)="changePart(Part.Explanation)">לחזור להסבר</button>

  </div>
  <div id="my-exercises-section">
    <div *ngIf="showExercises">
      <h2>התרגילים שלי</h2>
      <ul *ngIf="savedQuestions.length > 0" class="exercises-container">
        <ng-container *ngFor="let question of savedQuestions">
          <li *ngIf="question.problem_str && question.problem_str.trim() !== '' && question.solution && question.solution.trim() !== ''" class="exercise-item">
            <p>שאלה:  {{ question.problem_str }}</p>
            <p>תשובה: {{ question.solution }}</p>
          </li>
        </ng-container>
      </ul>
      <div *ngIf="savedQuestions.length === 0">
        <h2>כנראה עדיין לא פתרת תרגילים</h2>
      </div>
    </div>
  </div>

</div>
