<div id="container">
  <div *ngIf="currentPart === Part.Explanation" class="center-content">
  <h1>משואה בנעלם אחד רמה בינונית</h1>
  <h1>בסירטון נלמד איך לפתור משוואה בנעלם אחד ברמה בינונית</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3zY8wOM6kqQ?list=UUFwRoIbk7gng6WXyytDsd-Q&index=7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>

<div *ngIf="currentPart === Part.Quiz"class="center-content">
  <div *ngIf="!showSummary">
    <h1>שאלה {{ attempts + 1 }}: פתור את המשואה</h1>
    <div>{{ equation }}</div>
    <label for="userSolution">הכנס את הפתרון</label>
    <input class="answer-input" type="number" id="userSolution" [(ngModel)]="userSolution" />
    <div *ngIf="isAnswerChecked">
      <p *ngIf="isAnswerCorrect">ענית נכון כל הכבוד</p>
      <p *ngIf="!isAnswerCorrect">אופס..ענית לא נכון התשובה הנכונה היא: .</p>
      <p class="answer-input"  *ngIf="!isAnswerCorrect">{{ correctSolution }}</p>
    </div>
  </div>
  <div *ngIf="showSummary">
    <h1>סיכום מבדק</h1>
    <p>ענית נכון{{ correctAnswers }}מתוך 6 שאלות</p>
    <button (click)="resetQuiz()">נסה שנית</button>
  </div>
</div>

<div class="center-content" *ngIf="currentPart === Part.QuizCompleted">
  <h1>גמרנו את התרגול</h1>
  <p>ענית נכון על {{ correctAnswers }} מתוך 6 שאלות!</p>
</div>

<div class="test-section" *ngIf="currentPart === Part.Test">
  <h1>מבחן</h1>
  <div *ngFor="let question of testQuestions; let i = index">
    <p>שאלה {{ i + 1 }}</p>
    <div>{{ question.equation }}</div>
    <label for="userTestAnswer{{ i }}">הכנס את תשובתך</label>
    <input class="answer-input" type="number" id="userTestAnswer{{ i }}" [(ngModel)]="userTestAnswers[i]" />
  </div>
  <div *ngIf="showTestSummary">
    <h1>גמרנו עם המבחן</h1>
    <p>ענית נכון על {{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות!</p>

  </div>
</div>
<div class="menu-container">
  <button (click)="changePart(Part.Quiz)">להתחיל בתרגול</button>
  <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק תשובה</button>
  <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
  <button (click)="changePart(Part.Explanation)">חזור להסבר</button>
  <button (click)="changePart(Part.Quiz)">לעשות שוב את התרגול</button>
  <button (click)="startTest()">להתחיל את המבחן</button>
  <button (click)="checkTestAnswers()">בדוק מבחן</button>
  <button (click)="fetchUserExercises()">התרגילים שלי</button>
  <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
  <!-- You can add other buttons here as needed -->
</div>

<div id="my-exercises-section" *ngIf="showExercises">
  <p>
  </p>
        <h2>השאלות שפתרתי עד עכשיו</h2>
        <div class="exercises-container" *ngIf="savedEquations.length > 0">
    <li class="exercise-item" *ngFor="let exercise of savedEquations">
      <p>משואה {{ exercise.equation }}</p>
    </li>


  <div *ngIf="savedEquations.length === 0">
    <h2>לא נמצאו תרגילים</h2>
  </div>
</div>
</div>
