#container {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;  /* Changing from height to min-height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;  /* Setting the text direction to right-to-left */
  padding: 30px 0;
  overflow-y: auto;  /* Allows vertical scrolling if the content exceeds the viewport height */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;  /* Ensure it takes the full width of its parent */
  padding: 20px;  /* Add some padding around the content */
}
.menu-container {
  display: flex;
  flex-direction: row;   /* Changed from column to row for horizontal layout */
  align-items: center;
  gap: 15px;
  padding: 20px 0;
  justify-content: center;  /* Center aligns all buttons horizontally */
}

button {
  width: 100px;   /* Increased size */
  height: 100px;  /* Increased size */
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 16px;  /* Increased font size for better visibility */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;

  &:hover {
      background-color: #2980b9;
      transform: scale(1.05);
  }

  &:active {
      transform: scale(0.95);
  }
}

.test-section {
  padding-top: 80px;
}

.exercises-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exercise-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
}

#my-exercises-section {
  max-height: 400px;  /* This can be adjusted based on your preference */
  overflow-y: auto;   /* Allows vertical scrolling */
  width: 90%;        /* Takes the full width */
  padding: 20px;      /* Provides some spacing */
  border: 1px solid #ddd;  /* Optional: Adds a border to make the section more distinguishable */
  margin-bottom: 20px;     /* Gives space between this section and the next content */
}
.equation {
  text-align: center;
  direction: ltr;
}

.answer-input {
  direction: ltr;
}
.label-rtl {
  direction: rtl;
  display: inline-block;  // to make sure direction applies correctly
}

.input-ltr {
  direction: ltr;
}



