<div id="container">
  <div *ngIf="currentPart === Part.Explanation" class="center-content">
    <h1>מערכת משוואות ברמה קלה </h1>
    <h2>בסירטון נלמד כיצד לפתור מערכת משוואות ברמה קלה</h2>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/QmELxamfCqM"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>



<div *ngIf="currentPart === Part.Quiz" class="center-content">
  <div *ngIf="!showSummary">
    <h2>שאלה {{ attempts + 1 }}: פתור את מערכת המשוואות שלפניך</h2>
    <div>{{ equation1 }}</div>
    <div>{{ equation2 }}</div>
    <label for="solutionX">הערך של X:</label>
    <input type="number" id="solutionX" [(ngModel)]="userSolutionX" />
    <label for="solutionY">הערך של y</label>
    <input type="number" id="solutionY" [(ngModel)]="userSolutionY" />



    <div *ngIf="isAnswerChecked">
      <p *ngIf="isAnswerCorrect">מצוין ! ענית נכון</p>
      <p *ngIf="!isAnswerCorrect && correctSolutionX !== null && correctSolutionY !== null">
        אופס ענית לא נכון התשובה הנכונה היא: x={{ correctSolutionX }}, y={{ correctSolutionY }}.
      </p>
    </div>
    <div *ngIf="showSummary">
      <h1>Quiz Summary</h1>
      <p>You answered {{ correctAnswers }} out of 6 questions correctly!</p>
      <button (click)="resetQuiz()">Try Again</button>
    </div>
  </div>
</div>

<div *ngIf="currentPart === Part.QuizCompleted">
  <h1>גמרנו עם התרגול</h1>
  <p>כל הכבוד! ענית {{ correctAnswers }} מתוך 6 שאלות נכון</p>

</div>

<div class="test-section" *ngIf="currentPart === Part.Test">
  <h1>מבחן</h1>
  <div *ngFor="let question of testQuestions; let i = index">
    <p>שאלה {{ i + 1 }}</p>
    <div>{{ question.equation1 }}</div>
    <div>{{ question.equation2 }}</div>
    <label for="solutionX{{ i }}">הערך של X</label>
    <input type="number" id="solutionX{{ i }}" [(ngModel)]="userTestAnswers[i].x" />
    <label for="solutionY{{ i }}">הערך של Y </label>
    <input type="number" id="solutionY{{ i }}" [(ngModel)]="userTestAnswers[i].y" />
  </div>

  <div *ngIf="showTestSummary">
    <h1>גמרנו עם המבחן</h1>
    <p>ענית{{ testCorrectAnswers }} מתוך {{ testQuestions.length }} שאלות נכון!</p>

  </div>
</div>

<div class="menu-container">
  <button (click)="changePart(Part.Quiz)">להתחיל בתרגול</button>
  <button (click)="checkSolution()" *ngIf="!isAnswerChecked">בדוק תשובה</button>
  <button *ngIf="isAnswerChecked && attempts < maxAttempts - 1" (click)="nextQuestion()">שאלה הבאה</button>
  <button (click)="changePart(Part.Explanation)">חזור להסבר</button>
  <button (click)="changePart(Part.Quiz)">לעשות שוב את התרגול</button>
  <button (click)="startTest()">להתחיל את המבחן</button>
  <button (click)="checkTestAnswers()">בדוק מבחן</button>
  <button (click)="fetchUserExercises()">התרגילים שלי</button>
  <button (click)="navigateToTopics()">חזור לרשימת הנושאים</button>
  <!-- You can add other buttons here as needed -->
</div>

<div id="my-exercises-section" *ngIf="showExercises">
  <p></p>
  <h2>השאלות שפתרתי עד עכשיו</h2>
  <div class="exercises-container" *ngIf="savedEquations.length > 0">
    <ul>
      <ng-container class="exercise-item"  *ngFor="let equation of savedEquations">
        <li  *ngIf="equation.equation1 && equation.equation1.trim() !== ''">משוואה 1: {{ equation.equation1 }}</li>
        <li *ngIf="equation.equation2 && equation.equation2.trim() !== ''">משוואה 2: {{ equation.equation2 }}<P>*****</P></li>
      </ng-container>
    </ul>
  </div>
  <div *ngIf="savedEquations.length === 0">
    <h2>כנראה שלא פתרת עדיין תרגילים</h2>
  </div>
</div>
</div>
